# Racing analysis
Formula 1 data summaries

In [5]:
import pandas as pd

In [6]:
pd.set_option("display.max_columns", None)
pd.options.display.width = 0

## Step one: discover

In [9]:
drivers = pd.read_csv("/home/andy/ws/ctpsws/lessons/src/lessons/evgeny/drivers.csv", engine='python')

In [13]:
drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
139,141,bailey,NaN,NaN,Julian,Bailey,09/10/1961,British,http://en.wikipedia.org/wiki/Julian_Bailey
140,142,chaves,NaN,NaN,Pedro,Chaves,27/02/1965,Portuguese,http://en.wikipedia.org/wiki/Pedro_Chaves
141,143,bartels,NaN,NaN,Michael,Bartels,08/03/1968,German,http://en.wikipedia.org/wiki/Michael_Bartels
142,144,hattori,NaN,NaN,Naoki,Hattori,13/06/1966,Japanese,http://en.wikipedia.org/wiki/Naoki_Hattori
143,145,nannini,NaN,NaN,Alessandro,Nannini,07/07/1959,Italian,http://en.wikipedia.org/wiki/Alessandro_Nannini

In [ ]:
drivers.info()

In [ ]:
drivers.describe()

## Step two: cleanse

In [ ]:
print("Columns with missing values\n")

for column in drivers:
    print(column, ' : ', drivers[column].isnull().sum())

In [ ]:
drivers.columns[drivers.isnull().any()]

In [ ]:
blanks = pd.DataFrame(drivers, columns=['number', 'code', 'dob', 'url'])

In [ ]:
blanks

In [ ]:
print("% blank\n")
print(round((drivers.isnull().sum() * 100 / len(drivers)), 2).sort_values(
    ascending=False))

hmmm... This tells me that code is not a good field on which to id a driver

In [ ]:
drivers['number'] = drivers['number'].astype(str)

In [ ]:
drivers

In [ ]:
nationality = drivers.groupby(['nationality'])['driverRef'].count()

In [ ]:
nationality

In [ ]:
drivers.info()

In [ ]:
drivers['full_name'] = drivers['surname'] + ", " + drivers['forename']

In [ ]:
drivers

## Step three: analyze

In [ ]:
nationality = pd.DataFrame(
    drivers.groupby(['nationality'])[['driverRef']].count())

In [ ]:
nationality

## Step four: report

In [ ]:
drivers.groupby("nationality")[
    ["nationality", "driverRef", "full_name"]].apply(print)

Look at some of the names above: there are characterset issues! Need to go back and fix encoding from source csv file

In [ ]:
nationality.plot.bar()

In [14]:
brits = drivers.loc[drivers['nationality'] == "British"]
brits

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
13,14,coulthard,NaN,COU,David,Coulthard,27/03/1971,British,http://en.wikipedia.org/wiki/David_Coulthard
17,18,button,22.0,BUT,Jenson,Button,19/01/1980,British,http://en.wikipedia.org/wiki/Jenson_Button
18,19,davidson,NaN,DAV,Anthony,Davidson,18/04/1979,British,http://en.wikipedia.org/wiki/Anthony_Davidson
49,51,wilson,NaN,NaN,Justin,Wilson,31/07/1978,British,http://en.wikipedia.org/wiki/Justin_Wilson_(ra...
54,56,irvine,NaN,NaN,Eddie,Irvine,10/11/1965,British,http://en.wikipedia.org/wiki/Eddie_Irvine
63,65,herbert,NaN,NaN,Johnny,Herbert,25/06/1964,British,http://en.wikipedia.org/wiki/Johnny_Herbert
64,66,mcnish,NaN,NaN,Allan,McNish,29/12/1969,British,http://en.wikipedia.org/wiki/Allan_McNish
69,71,damon_hill,NaN,NaN,Damon,Hill,17/09/1960,British,http://en.wikipedia.org/wiki/Damon_Hill
82,84,brundle,NaN,NaN,Martin,Brundle,01/06/1959,British,http://en.wikipedia.org/wiki/Martin_Brundle
85,87,blundell,NaN,NaN,Mark,Blundell,08/04/1966,British,http://en.wikipedia.org/wiki/Mark_Blundell
93,95,mansell,NaN,NaN,Nigel,Mansell,08/08/1953,British,http://en.wikipedia.org/wiki/Nigel_Mansell
116,118,warwick,NaN,NaN,Derek,Warwick,27/08/1954,British,http://en.wikipedia.org/wiki/Derek_Warwick
133,135,mccarthy,NaN,NaN,Perry,McCarthy,03/03/1961,British,http://en.wikipedia.org/wiki/Perry_McCarthy
139,141,bailey,NaN,NaN,Julian,Bailey,09/10/1961,British,http://en.wikipedia.org/wiki/Julian_Bailey

In [16]:
name = "andy"
name == "andy"

True

In [17]:
drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
139,141,bailey,NaN,NaN,Julian,Bailey,09/10/1961,British,http://en.wikipedia.org/wiki/Julian_Bailey
140,142,chaves,NaN,NaN,Pedro,Chaves,27/02/1965,Portuguese,http://en.wikipedia.org/wiki/Pedro_Chaves
141,143,bartels,NaN,NaN,Michael,Bartels,08/03/1968,German,http://en.wikipedia.org/wiki/Michael_Bartels
142,144,hattori,NaN,NaN,Naoki,Hattori,13/06/1966,Japanese,http://en.wikipedia.org/wiki/Naoki_Hattori
143,145,nannini,NaN,NaN,Alessandro,Nannini,07/07/1959,Italian,http://en.wikipedia.org/wiki/Alessandro_Nannini

In [18]:
for driver in drivers:
    print(driver)

driverId
driverRef
number
code
forename
surname
dob
nationality
url