In [16]:
import sys

sys.version

'3.10.2 (main, Feb  8 2022, 11:45:51) [GCC 11.2.0]'

In [17]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#sns.set()

In [18]:
# point to correct diretory for the following file
laptimes = pd.read_csv(
    '/home/andy/ws/andykmiles/clients-ctpsws/src/clients_ctpsws/amira/lapTimes.csv')

laptimes['seconds'] = laptimes['milliseconds'] / 1000

In [20]:
laptimes

        raceId  driverId  lap  position      time  milliseconds  seconds
0          841        20    1         1  1:38.109         98109   98.109
1          841        20    2         1  1:33.006         93006   93.006
2          841        20    3         1  1:32.713         92713   92.713
3          841        20    4         1  1:32.803         92803   92.803
4          841        20    5         1  1:32.342         92342   92.342
...        ...       ...  ...       ...       ...           ...      ...
426628     988       825   50        13  1:43.928        103928  103.928
426629     988       825   51        13  1:44.138        104138  104.138
426630     988       825   52        13  1:43.934        103934  103.934
426631     988       825   53        13  1:44.164        104164  104.164
426632     988       825   54        13  1:44.285        104285  104.285

[426633 rows x 7 columns]