In [1]:
import pandas as pd
hd = pd.read_csv('./Hobby_Data.csv')

In [2]:
hd

,Olympiad_Participation,Scholarship,School,Fav_sub,Projects,Grasp_pow,Time_sprt,Medals,Career_sprt,Act_sprt,Fant_arts,Won_arts,Time_art,Predicted Hobby
0,Yes,Yes,Yes,Mathematics,Yes,5,1,Yes,No,No,No,Maybe,3,Academics
1,Yes,Yes,Yes,Mathematics,Yes,3,2,No,No,No,No,No,1,Academics
2,Yes,Yes,Yes,Science,Yes,5,1,Yes,No,No,No,No,1,Academics
3,Yes,Yes,Yes,Mathematics,Yes,5,1,Yes,No,No,No,Maybe,3,Academics
4,Yes,Yes,Yes,Science,Yes,5,3,No,No,No,No,No,2,Academics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,No,No,Yes,Science,No,3,1,Yes,Yes,Yes,No,No,2,Sports
1597,Yes,No,Yes,Any language,Yes,4,3,No,Yes,No,No,Yes,4,Sports
1598,Yes,No,Yes,Any language,No,3,3,No,Yes,No,No,Maybe,2,Sports
1599,Yes,Yes,Yes,Any language,No,4,3,Yes,Yes,No,Yes,Maybe,2,Sports
1600,Yes,No,No,Mathematics,Yes,3,2,No,Yes,No,Yes,No,1,Sports

In [9]:
hobbies.info()

<class 'pandas.core.series.Series'>
MultiIndex: 12 entries, ('Any language', 'Academics') to ('Science', 'Sports')
Series name: Predicted Hobby
Non-Null Count  Dtype
--------------  -----
12 non-null     int64
dtypes: int64(1)
memory usage: 468.0+ bytes

In [10]:
hobbies.describe()

count     12.000000
mean     133.416667
std       85.692323
min       33.000000
25%       81.000000
50%      103.500000
75%      185.750000
max      285.000000
Name: Predicted Hobby, dtype: float64

In [6]:
hobbies = hd.groupby(["Fav_sub", "Predicted Hobby"])["Predicted Hobby"].count()

In [7]:
hobbies

Fav_sub            Predicted Hobby
Any language       Academics          101
                   Arts                96
                   Sports              91
History/Geography  Academics           51
                   Arts                34
                   Sports              33
Mathematics        Academics          285
                   Arts               174
                   Sports             221
Science            Academics          262
                   Arts               106
                   Sports             147
Name: Predicted Hobby, dtype: int64