In [2]:
import sys
import csv

import pandas as pd

ANALYSIS_FILE = "/Users/andy/ws/ctpsws-clients/lessons/src/lessons/samuelo/data/log_summary.csv"
la = pd.read_csv(ANALYSIS_FILE, sep='\t', engine='python', quoting=csv.QUOTE_NONE)

,server,host,agent,time
count,22131376,22131376,22131326,22131376
unique,1213,541761,74224,5920287
top,seas_443.022322,M-9CG6192TXQ.adsroot.itcs.umich.edu,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2022-05-15 17:10:51-04:00
freq,279694,372886,612933,274

In [4]:
la.head()

,server,host,agent,time
0,engin_443.030322,msnbot-207-46-13-95.search.msn.com,Mozilla/5.0 (compatible; bingbot/2.0; +http://...,2022-03-03 00:01:23-05:00
1,engin_443.030322,136.143.177.51,Site24x7,2022-03-03 00:01:31-05:00
2,engin_443.030322,msnbot-157-55-39-110.search.msn.com,Mozilla/5.0 (compatible; bingbot/2.0; +http://...,2022-03-03 00:01:34-05:00
3,engin_443.030322,136.143.177.50,Site24x7,2022-03-03 00:01:39-05:00
4,engin_443.030322,c-67-177-141-139.hsd1.mi.comcast.net,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2022-03-03 00:01:43-05:00

In [11]:
la["ymd"] = la["time"[:10]]

In [15]:
la_result = la.groupby(by=("ymd"))["host", "agent"].sum()

/var/folders/lk/clzym6995bn5drrty1kvx97c0000gn/T/ipykernel_28029/2264970938.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  la_result = la.groupby(by=("ymd"))["host", "agent"].sum()

In [14]:
la_result.head()

                           host  agent
ymd
2021-01-01 00:00:06-05:00     1      1
2021-01-01 00:00:07-05:00     1      1
2021-01-01 00:00:08-05:00     1      1
2021-01-01 00:00:09-05:00     2      2
2021-01-01 00:00:10-05:00     1      1