In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("oscar_winners.csv")
movies

                Movie       IMDB
0            Parasite  tt6751668
1          Green Book  tt6966692
2  The Shape of Water  tt5580390
3           Moonlight  tt4975722
4           Spotlight  tt1895587
5             Birdman  tt2562232
6    12 Years a Slave  tt2024544
7                Argo  tt1024648
8          The Artist  tt1655442
9   The King's Speech  tt1504320

In [ ]:
"""
total = df['Age'] + df['Marks']
df['Age'].max()
#MUST import this
import matplotlib.pyplot as plt
# plot two columns from dataframe named df (substitute your name)
plt.plot(df["COL_A"], df["COL_B"])
# set axis labels
plt.xlabel("COL_A")
plt.ylabel("COL_B")
# draw
plt.show()

# all in one: plot two values on y against one on x on bar chart
df.plot(x="Name", y=["Rating", "Duration"], kind="bar")
"""